
body{
    background: #8EACCD;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}
#weather-container{
    background: rgba(255, 255, 255, .2);
    min-width: 300px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 32px rgba(0,0, 0, .1);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, .1);
    text-align: center;
}
h2, label, p{
    color: #fff;
    margin: 8px 0;
}
input{
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
}
button{
    background: #676ca5;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 16px;
}
button:hover{
    background: #8a8cd4;
}
.info{
    border-radius: 15px;
    background: #3050790c;
    display: none;
    margin-left: 30px;
}
#temp-div p{
    font-size: 60px;
    margin-top: -300px;
    margin-left: 250px;
    width: 150px;
}
#weather-info{
    width: 200px;
    font-size: 22px;
    text-align: center;
    margin-left: 220px;
}
#weather-icon{
    width: 200px;
    height: 200px;
    margin-left: 50px;
    margin-bottom: 150px;
    display: none;
}
#hourly-forecast{
    width: 450px; 
    margin-top: 60px;
    overflow-x: scroll;
    scrollbar-color: rgb(90, 107, 161) rgba(185, 184, 187, 0);
    scrollbar-width: thin;
    display: flex;
    justify-content: space-between;
}
.hourly-item{
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
    padding-bottom: 30px;
}
.hourly-item img{
    width: 30px;
    height: 30px;
    margin-bottom: 5px;
}

